// =========================
// COLORS
// =========================

$white-scale-colors: (
  'white-100': #ffffff,
);

$grey-scale-colors: (
  'grey-100': #E5E5E5,
  'grey-1200': #E5E5E5,

);

$yellow-scale-colors: (
  'yellow-100': #FCA311,
);

$navy-scale-colors: (
  'navy-100': #14213D,
  'navy-200': #003459
);

$black-scale-colors: (
  'black-100': #000000,
);
